<p id="notice"><%= notice %></p>
<div class="info-container">
  <p>
    <strong>Name:</strong>
    <%= @killteam.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @killteam.description %>
  </p>

  <p>
    <strong>Requisition:</strong>
    <%= @killteam.requisition %>
  </p>

  <p>
    <strong>Assetcap:</strong>
    <%= @killteam.asset_cap %>
  </p>

  <p>
    <strong>Base:</strong>
    <%= @killteam.base %>
  </p>

  <p>
    <strong>Faction Keyword:</strong>
    <%= @killteam.keyword %>
  </p>
</div>


<div>
  <br>

  <% if @killteam.user == current_user %>
    <%= link_to 'Edit', edit_killteam_path(@killteam) %> |

    <%= link_to "Delete",
      killteam_path(@killteam),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>

    <%= link_to 'Back', '/' %>
    <%# <%= link_to 'Log a new Battle report', new_batrep_path %> %>
  <% end %>

</div>
