

<div class="outer-container container">
  <div>

    <p>41<%= Time.now %></p>

    <h1>Welcome <%= current_user.email %></h1>


    <%= button_to 'New Killteam', new_killteam_path,
      class: "mainbutton", :method => :get %>


      <div class="grid">
        <% @killteams = Killteam.all%>
        <% @killteams.each do |killteam| %>
          <%# an anachronistic looking card %>
          <div class="teamcard wrapper-terminal">



            <div class="infocontainer">
              <ul class="no-bullets">
                <li><h1 id="h"><strong><%= killteam.name %></strong></h1></li>
                <li><%= killteam.description %></li>
                <br>
                <%# <li>Requisition Points: <%= killteam.requisition %></li>
                <%# <li>Asset Cap: <%= killteam.assetcap %></li>
                <li>Base: <%= killteam.base %></li>
                <li>Faction Keyword: <%= killteam.keyword %></li>
                <br>

                <%= button_to 'Show', killteam,
                  :class => "mainbutton", :method => :get %>


                <div class="imagecontainer" style="width:300px; height: auto;">
                  <% if killteam.images.attached?%>
                        <% killteam.images.each do |image| %>
                          <div class="ktimgframe">
                            <%= cl_image_tag image.key, height: 200, width: 300, crop: :fill%>
                          </div>
                        <% end %>
                    <% end %>
                </div>

              </ul>
            </div>

            </div>
          </div>
        <% end %>
      </div>
  </div>



  <div class="planet">
    <div class="wrap">
      <div class="background"></div>
      <div class="clouds"></div>
    </div>
    <div class="mask"></div>
  <%# see original version for plate map update %>
    </div>
  </div>

</div>


<script>
// terminal js NB go back to master and pick out best code from https://codepen.io/totododoido/pen/dWWRGr from scratch
  const h1 = document.getElementById("h")

  const setShadow = () => {
    let displace = 0.2 + Math.random() * 1.7
    const shadow = `${displace}px 0px 1px rgba(0, 70, 255, 0.6), ${-displace}px 0px 1px rgba(255, 50, 0, 0.6), 0 0 4px`
    document.teamcard.style.textShadow = shadow;
  }

  setShadow();
  setInterval(setShadow, 40);

</script>
